{% extends '::base.html.twig' %}

{% block title %}
	{{parent() }}
	 - Détail du bureau {{id}}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/nipauserbundle/css/style.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
	<h2>Détail du bureau n°{{ id }}</h2>
	<p>
		Description du bureau...
	</p>
	<a href="{{ path('homepage') }}">Accueil</a>
{% endblock %}