{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
    - {{ user.Identifiant }}
{% endblock %}

{% block body %}
    <h1>{{ user.Nom }} {{ user.Prenom }}</h1>
   
        <ul>
            <li>
                <h4>Email: {{ user.Email }}</h4>
            </li>
            <li>
                <h4>Crée le: {{ user.CreatedAt|date('d/m/Y') }}</h4>
            </li>
        </ul>
        
    <a href="{{ path("homepage") }}">Retour à l'accueil</a>
{% endblock %}