{% trans_default_domain 'NIPAUserBundle' %}

{% block nipa_users_div %}
    
    <!-- Container table filter -->
    <div class="col-md-12">
        
        <!-- BOUTON ADD -->  
        <div class="btn-toolbar">
            <button class="btn btn-success" onclick="window.location.href='{{ path('groupe_add') }}'"><i class="glyphicon glyphicon-plus-sign"></i> Nouveau groupe</button>
        </div>
        <br>
                
        <!-- PANEL -->  
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Groupes</h3>
                <div class="pull-right">
                    <span class="clickable filter" data-toggle="tooltip" title="Filtre" data-container="body">
                        <i class="glyphicon glyphicon-filter"></i>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control" id="groupes-table-filter" data-action="filter" data-filters="#groupes-table" placeholder="Filtres groupe" />
            </div>
            <br>
            <table class="table table-hover" id="groupes-table">
                <thead>
                    <tr>
                        <th>Groupe</th>
                        <th>Utilisateurs</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                {# Liste all Groupes #}
                {% for groupe in groupes %}
                    <tr>
                        <td><a data-toggle="tooltip" title="Modifier groupe" href="{{ path('groupe_edit', {'groupeId': groupe.id}) }}">{{ groupe.nom }}</a></td>
                        <td>{{ groupe.getUtilisateursToArray()|length }}</td>
                        <td>
                            <!-- <a href="{{ path('administration_groupe_delete', {'groupeId': groupe.id}) }}" class="open-DeleteUser" role="button" data-id="{{ loop.index0 }}" data-toggle="modal"><span class="glyphicon glyphicon-remove icon-remove"></span></a> -->
                            <a href="{{ path('administration_groupe_delete', {'groupeId': groupe.id}) }}" class="confirmModalLinkGroupe" href=""><span class="glyphicon glyphicon-remove icon-remove"></span></a>                                                
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    
    <!-- MODAL DELETE -->
    <div id="myModalGroupe" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Confirmation</h3>
                </div>
                
                <div class="modal-body">
                    <p class="error-text">Etes vous sûr de vouloir supprimer le groupe?</p>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-warning" id="confirmModalGroupeNo">Annuler</a>
                    <a href="#" class="btn btn-danger" id="confirmModalGroupeYes">Supprimer</a>                  
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dalog -->
    </div><!-- /.modal -->
 
    
    <script>
        
        $(document).ready(function() {
            $('#groupes-table').DataTable();
        } );
        
        $(document).ready(function () {
            var theHREF;

            $(".confirmModalLinkGroupe").click(function(e) {
                e.preventDefault();
                theHREF = $(this).attr("href");
                $("#myModalGroupe").modal("show");
            });

            $("#confirmModalGroupeNo").click(function(e) {
                $("#myModalGroupe").modal("hide");
            });

            $("#confirmModalGroupeYes").click(function(e) {
                window.location.href = theHREF;
            });
        });

    </script>
                    
                
{% endblock nipa_users_div %}    
    
