{% extends "NIPAUserBundle::layoutNIPA.html.twig" %}

{% block nipa_stylesheets %}
    	<link rel="stylesheet" href="{{ asset('bundles/nipauserbundle/css/styleAdministration.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/nipauserbundle/css/jquery.dataTables.min.css') }}" type="text/css" media="all" />

        <script src="{{ asset('bundles/nipauserbundle/js/navbarAdministration.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/panelFilter.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/dataTables.bootstrap.min.js') }}"></script>
        <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css"> -->
        <script src="{{ asset('bundles/nipauserbundle/js/table-edits.min.js') }}"></script>

        <!-- Table Jquery --> 
        <link rel="stylesheet" href="{{ asset('bundles/nipauserbundle/css/TableJQuery/jsgrid.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/nipauserbundle/css/TableJQuery/theme.css') }}">

        <script src="{{ asset('bundles/nipauserbundle/js/TableJQuery/db.js') }}"></script>
        
        <script src="{{ asset('bundles/nipauserbundle/js/TableJQuery/jsgrid.core.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/TableJQuery/jsgrid.load-indicator.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/TableJQuery/jsgrid.load-strategies.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/TableJQuery/jsgrid.sort-strategies.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/TableJQuery/jsgrid.field.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/TableJQuery/jsgrid.field.text.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/TableJQuery/jsgrid.field.number.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/TableJQuery/jsgrid.field.select.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/TableJQuery/jsgrid.field.checkbox.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/TableJQuery/jsgrid.field.control.js') }}"></script>
        
{% endblock %}

{% block nipa_navbar %}   
    <ul class="nav navbar-nav">                   
        <li class="">
            <a class="nav-link" href="{{ path('accueil') }}"><span class="glyphicon glyphicon-home"></span> Accueil</a>
        </li>
        <li class="">
            <a class="nav-link" href="{{ path('user') }}"><span class="glyphicon glyphicon-th-large"></span> Ma page</a>
        </li>
        <li class="">
            <a class="nav-link" href="{{ path('portefeuille') }}"><span class="glyphicon glyphicon-folder-open"></span> Portefeuille<span class="sr-only">(current)</span></a>
        </li>        
        <li class="">
            <a class="nav-link" href="{{ path('demande') }}"><span class="glyphicon glyphicon-folder-open"></span> Demande<span class="sr-only">(current)</span></a>
        </li>   
        <li class="">
            <a class="nav-link" href="{{ path('projet') }}"><span class="glyphicon glyphicon-folder-open"></span> Projet<span class="sr-only">(current)</span></a>
        </li>                   
    </ul>
                    
{% endblock %}



{% block nipa_navbar_admin %}
    <li class="active">
        <a class="nav-link" href="{{ path('administration') }}"><span class="glyphicon glyphicon-wrench"></span> Administration</a>
    </li>  
{% endblock %}  

{% block nipa_user_content %}   
    
    <div class="container">
        
        <div class="row">
            <div class="col-md-3">
                <center><h3><span class="glyphicon glyphicon-wrench"></span> Administration</h3></center>
            </div>
        </div>

        <div class="row">
             
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked admin-menu">
                    <li class="active"><a href="" data-target-id="projet"><i class="fa fa-book fa-fw"></i>Projets</a></li>
                    <li><a href="#" data-target-id="champs_P"><i class="fa fa-pencil-square fa-fw"></i>Champs personnalisés Portefeuille</a></li>                                   
                    <li><a href="#" data-target-id="champs_D"><i class="fa fa-pencil-square fa-fw"></i>Champs personnalisés Demande</a></li>
                    <li><a href="#" data-target-id="user"><i class="fa fa-users fa-fw"></i>Utilisateurs</a></li>
                    <li><a href="#" data-target-id="groupe"><i class="fa fa-list-alt fa-fw"></i>Groupes</a></li>
                </ul>
            </div>

            <div class="col-md-9 well admin-content" id="projet">
                {% include "NIPAUserBundle:Administration:administration_content_projets.html.twig" %}
            </div>
            <div class="col-md-9 well admin-content" id="champs_P">
                {% include "NIPAUserBundle:Administration:administration_content_champs_portefeuille.html.twig" %}
            </div>  
            <div class="col-md-9 well admin-content" id="champs_D">
                {% include "NIPAUserBundle:Administration:administration_content_champs_demande.html.twig" %}
            </div> 
            <div class="col-md-9 well admin-content" id="user">
                {% include "NIPAUserBundle:Administration:administration_content_users.html.twig" %}
            </div>

            <div class="col-md-9 well admin-content" id="groupe">
                {% include "NIPAUserBundle:Administration:administration_content_groupes.html.twig" %}
            </div>           

        </div>
    </div>
                
{% endblock nipa_user_content %}
