{% trans_default_domain 'NIPAProjetBundle' %}

{% block body %}   

    {# TEST LES DROITS USER#}
    {% set droit = 0 %}
    {% for groupe in user.getGroupesToArray() %} 
        {% if groupe.getPermission() %} {# Test si le groupe a des permissions #}
            {% if (groupe.getPermission().getCMSDemande() == 1) %} {# Si oui on test les droits d'accès #}
                {% set droit = droit + 1 %}  
            {% endif %}    
        {% endif %}
    {% endfor %}     
    
    {# NB LOTS PROJETS (SANS LES SUSPENDUS ET ANNULES) #}
    {% if listProjet is defined %}
        {% set lot = 0 %}
        {% for projet in listProjet %}
            {% if projet.annuler == 0 and projet.suspendre == 0 %}
                {% set lot = lot + 1 %}
            {% endif %}
        {% endfor %}
    {% endif %}
    
    
        <h4 class=""><span class='glyphicon glyphicon-list-alt'></span> {{ 'Portefeuille(s) & Projet(s)'|trans }}: {% if demande.referenceDemande %} {{ demande.nom }} {% endif %} </h4>        
 
        <div class="container">                   
            <div class="row col-md-13">

                <!-- PANEL PORTEFEUILLE -->          
                <div class="panel panel-danger" id="GDD">
                    <div class="panel-heading" id="GDD">
                        <h5 class="panel-title"> Informations liées au(x) Portefeuille(s)</h5>
                        <div class="pull-right">
                            {% if demande.referenceDemande %} <strong> {{ demande.getPortefeuillesToArray()|length }} Portefeuille(s) associé(s) </strong> {% endif %}
                            <span data-toggle="collapse" data-target="#collapseInfoPortefeuille" class="clickable collapsed" title="Afficher détails" data-container="body">
                                <i class="glyphicon glyphicon-plus"></i>
                            </span>
                        </div>                      
                    </div>   
                <div id="collapseInfoPortefeuille" class="panel-collapse collapse">                                
                    <div class="panel-body">
 
                    {% if droit != 0 %}
                        <!-- BOUTON ADD -->  
                        <div class="btn-toolbar">
                            <a data-toggle="modal" title="Ajouter portefeuilles" class="btn btn-success" href="#ModalAddPortefeuilles"><i class="glyphicon glyphicon-plus-sign"></i> Ajouter Portefeuille</a>
                        </div>
                    {% else %}
                        <!-- BOUTON ADD -->  
                        <div class="btn-toolbar">
                            <a data-toggle="modal" title="Ajouter portefeuilles" class="btn btn-success" href="#ModalAddPortefeuilles" DISABLED><i class="glyphicon glyphicon-plus-sign"></i> Ajouter Portefeuille</a>
                        </div>
                    {% endif %}
                    <br>                           
                        
                        <table class="table table-hover" id="champs-table GDD">
                            <thead>
                                <tr>
                                    <th class="text-center">Référence</th>
                                    <th class="text-center">Nom</th>
                                    <th class="text-center">Année</th>
                                    <th class="text-center">Statut Portefeuille</th>
                                    <th class="text-center">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for portefeuille in demande.getPortefeuillesToArray() %}
                                <tr>
                                    <td class="text-center">{{ portefeuille.getReferencePortefeuille() }}</td>
                                    <td class="text-center">{{ portefeuille.getNom() }}</td>
                                    <td class="text-center">{{ portefeuille.getPortefeuilleAnnee().getValeur() }}</td>
                                    <td class="text-center">{{ portefeuille.getPortefeuilleStatut().getNom() }}</td>
                                    <td>
                                       {# On bloque la suppression du postefeuille de BASE (le premier affilié à la Demande)#}
                                       {% if demande.getReferenceDemande()|striptags|slice(2, 2)|raw == portefeuille.getReferencePortefeuille()|striptags|slice(3, 2)|raw  %} 
                                           <a href="#" ><span class="glyphicon glyphicon-lock" style="color:yellow;"></span></a>                               
                                       {% else %}
                                            {% if droit != 0 %}
                                                <a href="{{ path('demande_delete_portefeuilles', {'referencePortefeuille': portefeuille.referencePortefeuille, 'referenceDemande': demande.referenceDemande}) }}" class="confirmModalLink"><span class="glyphicon glyphicon-remove" style="color:red;"></span></a>                               
                                            {% else %}
                                                <a href="#" DISABLED><span class="glyphicon glyphicon-remove" style="color:red;"></span></a>                               
                                            {% endif %}                           
                                       {% endif %}                           
                                   </td>                               
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> 
                </div>                    
                </div>             
                
                <br>
                                        
                <!-- PANEL PROJETS -->          
                <div class="panel panel-danger" id="GDD">
                    <div class="panel-heading" id="GDD">
                        <h5 class="panel-title"> Informations liées au(x) Projet(s)</h5>
                        <div class="pull-right">  
                            {% if listProjet is defined %}
                                <strong> {{ listProjet|length }} Projet(s) associé(s) </strong> 
                            {%else%}
                                <strong> 0 Projet(s) associé(s) </strong> 
                            {% endif %}
                            <span data-toggle="collapse" data-target="#collapseInfoProjet" class="clickable collapsed" title="Afficher détails" data-container="body">
                                <i class="glyphicon glyphicon-plus"></i>
                            </span>
                        </div>                      
                    </div>   
                <div id="collapseInfoProjet" class="panel-collapse collapse">                                
                    <div class="panel-body">

                        <!-- row 1-->                                              
                        <table class="table table-hover" id="GDD">
                            <thead>
                                <tr>
                                    <th class="text-center">Σ  Budgets Projet</th>
                                    <th></th>
                                    <th class="text-center row col-sm-2">Nb de lots actifs</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"><h4>0 €</h4></td>
                                    <td></td>
                                    {% if listProjet is defined %}
                                        <td class="row col-sm-1">{{ form_widget(form.nbLots, { 'attr': {'value': lot, 'readonly':'true', 'class': 'textcenter' } }) }}</td>
                                    {% else %}
                                        <td class="row col-sm-1">{{ form_widget(form.nbLots, { 'attr': {'value': '0', 'readonly':'true', 'class': 'textcenter' } }) }}</td>
                                    {% endif %}
                                    <td></td>
                                    <td class="text-center">
                                        <a class="btn btn-warning"><span data-toggle="collapse" data-target="#collapseProjetGDD" class="clickable collapsed" title="Afficher" data-container="body">
                                            <span class='glyphicon glyphicon-list-alt'></span> Liste des Projets
                                        </span></a>                                
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <br>

                        <!-- PANEL DATE DE MEP et TTD -->          
                        <div class="panel panel-danger" id="GDD">
                            <div class="panel-heading">
                                <h5 class="panel-title">Date de MEP: {% if dateMEPMax is defined %} <strong> {{ dateMEPMax|date('d/m/Y')}} </strong> {% endif %}</h5>
                                <div class="pull-right">              
                                    <span data-toggle="collapse" data-target="#collapseMEP" class="clickable collapsed" title="Afficher détails" data-container="body">
                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                    </span>
                                </div>                
                            </div>   
                        <div id="collapseMEP" class="panel-collapse collapse">                                
                            <div class="panel-body">
                                <table class="table table-hover" id="champs-table GDD">
                                    <thead>
                                        <tr>
                                            <th class="text-center">TTD Souhaité</th>
                                            <th class="text-center">TTD Souhaité révisé</th>
                                            <th class="text-center">TTD Projets</th>
                                            <th class="text-center">TTD Projets révisés</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ form_widget(form.TTDSouhaite, { 'attr': {'class': 'TTDSouhaite textcenter'} }) }}</td>
                                            <td>{{ form_widget(form.TTDSouhaiteRevise, { 'attr': {'class': 'TTDSouhaiteRevise textcenter'} }) }}</td>
                                            <td>{{ form_widget(form.TTDProjets, { 'attr': {'class': 'TTDProjets textcenter'} }) }}</td>
                                            <td>{{ form_widget(form.TTDProjetsRevises, { 'attr': {'class': 'TTDProjetsRevises textcenter'} }) }}</td>
                                        </tr>   
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                        </div>

                        <br>

                       <!-- PANEL Liste Projets -->          
                        <div class="panel panel-warning" id="GDD">
                            <div class="panel-heading">
                                <h4 class="panel-title">Projets </h4>        
                            </div>   
                        <div id="collapseProjetGDD" class="panel-collapse collapse">                                
                            <div class="panel-body">
                                <table class="table table-hover" id="champs-table GDD">
                                    <thead>
                                        <tr>
                                            <th class="text-center">N°</th>
                                            <th class="text-center">Code OGP</th>
                                            <th class="text-center">Titre</th>
                                            <th class="text-center">Budget (en k€)</th>
                                            <th class="text-center">Phase</th>
                                            <th class="text-center">Date de MEP</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if listProjet is defined %}
                                            {% for projet in listProjet %}
                                                <tr>
                                                    <td class="text-center">{{ loop.index }}</td>
                                                    <td class="text-center" title="Référence Projet: {{ projet.referenceProjet }}">{{ projet.codeOGP }}</td>
                                                    {% if projet.titreLot == "" %}
                                                        <td class="text-center"><a  href="{{ path('projet_edit',{'reference': projet.referenceProjet}) }}" title="Afficher Projet">{{ projet.titre }}</a></td>
                                                    {% else %}
                                                        <td class="text-center"><a  href="{{ path('projet_edit',{'reference': projet.referenceProjet}) }}" title="Afficher Projet">{{ projet.titreLot }}</a></td>
                                                    {% endif %}
                                                    <td class="text-center">{{ projet.BudgetEnCours|number_format(2, ',', ' ') }}</td>
                                                    <td class="text-center">{{ projet.phaseProjetEnCours }}</td>
                                                    <td class="text-center">{{ projet.dateMEP|date('d/m/Y') }}</td>
                                                </tr> 
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                        </div>  

                    </div> 
                </div>                    
                </div>
            </div>                    
        </div>

        {# Pour l'erreur: "Le jeton CSRF est invalide" #}
        {{ form_widget(form._token) }}        
        {{form_errors(form)}}

        <br>  
        <div class="pull-right">
            {% if droit != 0 %}
                <button class="btn btn-success" type="submit"><span class='glyphicon glyphicon-check'></span> Valider</button>           
            {% else %}
                <button class="btn btn-success" type="submit" DISABLED><span class='glyphicon glyphicon-check'></span> Valider</button>           
            {% endif %}
        </div> 
            
    </form> 
    
    {% if demande.referenceDemande %}       
    <!-- MODAL AJOUT PORTEFEUILLE DEMANDE -->
    <div id="ModalAddPortefeuilles" class="modal fade in">
        <div class="modal-dialog"  style="width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Ajouter Portefeuille(s) </h3>
                </div>
                
                <form class="form-horizontal well" data-async data-target="#ModalAddPortefeuilles" action="{{ path('demande_add_portefeuilles', {'reference':demande.referenceDemande}) }}" {{ form_enctype(formModal) }}  method="POST">                       
                    <div class="modal-body">

                            <div class="row">
                                <div class="col-md-12">
                                 <table class="table table-hover" id="portefeuilles-table-panel">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Référence</th>
                                                <th>Nom</th>
                                                <th>Année</th>
                                                <th>Statut</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set isPresent = 0 %}
                                            {% for child in formModal.portefeuille %}
                                                {% set index = child.vars.value %}
                                                {% if demande.getPortefeuillesToArray() is not empty %}
                                                    {# On liste juste les portefeuilles non affiliés encore à la demande#}
                                                    {%if choices2[index] not in demande.getPortefeuillesToArray() %}  
                                                        {# On affiche que les portefeuilles ayant un IPP différent #}
                                                        {% if choices2[index].getPortefeuilleAnnee() not in demande.getPortefeuillesToArray() %} 
                                                                <tr>
                                                                  {# <td>{{ form_widget(child) }}</td> #}
                                                                  <td><input type="radio"  name="idPortefeuilles[]" value="{{choices2[index].referencePortefeuille}}"></input></td>
                                                                  <td>{{ choices2[index].referencePortefeuille }}</td>
                                                                  <td>{{ choices2[index].nom }}</td>
                                                                  <td>{{choices2[index].getPortefeuilleAnnee() ? choices2[index].getPortefeuilleAnnee().getValeur() }}</td>
                                                                  <td>{{choices2[index].portefeuilleStatut ? choices2[index].portefeuilleStatut.nom}}</td>                                                
                                                                </tr>
                                                        {% else %}
                                                            {% set isPresent = isPresent + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% set isPresent = isPresent + 1 %}
                                                    {% endif %}
                                                    {# Si tous les portefeuilles sont déjà dans la demande#}
                                                    {% if isPresent ==  formModal.portefeuille|length%}  
                                                        <p>Aucun Portefeuille(s) à ajouter</p>
                                                    {% endif %}
                                                {%else %}
                                                <tr>
                                                  {# <td>{{ form_widget(child) }}</td> #}
                                                  <td><input type="checkbox"  name="idPortefeuilles[]" value="{{choices2[index].referencePortefeuille}}"></input></td>
                                                  <td>{{ choices2[index].referencePortefeuille }}</td>
                                                  <td>{{ choices2[index].nom }}</td>
                                                  <td>{% if choices2[index].getPortefeuilleAnnee is not null %} {{ choices2[index].getPortefeuilleAnnee().getValeur() }} {% endif %}</td>
                                                  <td>{% if choices2[index].portefeuilleStatut is not null %} {{ choices2[index].portefeuilleStatut.nom}} {% endif %}</td>                                                
                                                </tr>                                              
                                                {% endif %}
                                            {% else %}
                                                <p>Aucun Portefeuille(s)</p>
                                            {% endfor %}

                                        </tbody>
                                    </table>   
                                </div>
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"> Annuler</button>
                        <button class="btn btn-success" type="submit">Ajouter</button>
                    </div> 
                    {{ form_errors(formModal) }}
                    <!-- <pre> {#{{ dump(formModal) }}#} </pre> -->
                </form>                                                  
            </div>
        </div>
    </div>    
    {% endif %}
        
    <!-- MODAL DELETE -->
    <div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Confirmation</h3>
                </div>
                
                <div class="modal-body">
                    <p class="error-text">Etes vous sûr de vouloir supprimer le portefeuille?</p>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-warning" id="confirmModalNo">Annuler</a>
                    <a href="#" class="btn btn-danger" id="confirmModalYes">Supprimer</a>                  
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dalog -->
    </div><!-- /.modal -->                
                    
     <script>

    $('.TTDSouhaite').datetimepicker({
    todayBtn:"true",
    format:"dd/mm/yyyy", 
    autoclose:"true",
    startView:"year",
    minView:"month",
    language:"fr"
    });  

    $('.TTDSouhaiteRevise').datetimepicker({
    todayBtn:"true",
    format:"dd/mm/yyyy", 
    autoclose:"true",
    startView:"year",
    minView:"month",
    language:"fr"
    });  
    
    $('.TTDProjets').datetimepicker({
    todayBtn:"true",
    format:"dd/mm/yyyy", 
    autoclose:"true",
    startView:"year",
    minView:"month",
    language:"fr"
    });  

    $('.TTDProjetsRevises').datetimepicker({
    todayBtn:"true",
    format:"dd/mm/yyyy", 
    autoclose:"true",
    startView:"year",
    minView:"month",
    language:"fr"
    });  
    
    
    $(document).ready(function() {
            $('#portefeuilles-table-panel').DataTable({
                "order": [[ 1, "asc" ]]
            } );
        } );

        $(document).ready(function () {
            var theHREF;

            $(".confirmModalLink").click(function(e) {
                e.preventDefault();
                theHREF = $(this).attr("href");
                $("#myModal").modal("show");
            });

            $("#confirmModalNo").click(function(e) {
                $("#myModal").modal("hide");
            });

            $("#confirmModalYes").click(function(e) {
                window.location.href = theHREF;
            });
        });
        
    </script>                
                    
{% endblock %}            