{% trans_default_domain 'NIPAProjetBundle' %}
		
{% block body %}
    
    <style>
        #table_texte,#textinput, .textinput{
        text-align:center;
        }       
    </style>

    {# TEST LES DROITS USER#}
    {% set droit = 0 %}
    {% for groupe in user.getGroupesToArray() %} 
        {% if groupe.getPermission() %} {# Test si le groupe a des permissions #}
            {% if (groupe.getPermission().getCMSDemande() == 1) %} {# Si oui on test les droits d'accès #}
                {% set droit = droit + 1 %}  
            {% endif %}    
        {% endif %}
    {% endfor %}    
    
    <h4 class=""><span class='glyphicon glyphicon-usd'></span> {{ 'Budget actuel '|trans }}: {% if demande.referenceDemande %} {{ demande.nom }} {% endif %} </h4>        
        
    <div class="container">                   

        <div class="row col-md-13">

            <!-- PANEL -->          
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">  
                        {% if demande.referenceDemande %} 
                            {% set total = 0 %}
                            {% for portefeuille in demande.getPortefeuillesToArray() %}
                                {% set counter = 0 %}
                                {% for budget in listDemandeBudget %}
                                    {% if budget.IPP == portefeuille.getNom() %}
                                        {% set counter = budget.montant %}
                                    {% endif %}
                                {% endfor %} 
                                <strong>{{ portefeuille.getNom() }}</strong> <span class="glyphicon glyphicon-arrow-right"></span> {{ counter|number_format(2, ',', ' ') }} k€ /
                            {% set total = total + counter %}
                            {% endfor %}
                            <strong>Budget total </strong> <span class="glyphicon glyphicon-arrow-right"></span> {{ total|number_format(2, ',', ' ') }} k€ /
                        {% endif %}                         
                    </h3>
                    <div class="pull-right">              
                        <span data-toggle="collapse" data-target="#collapseBudget" class="clickable collapsed" title="Afficher détails" data-container="body">
                            <i class="glyphicon glyphicon-plus"></i>
                        </span>
                    </div>                
                </div>   
            <div id="collapseBudget" class="panel-collapse collapse">                                
                <div class="panel-body">

                    <table class="table table-hover" id="champs-table-resume-budget">
                        <thead>
                            <tr>
                                <th>Année</th>
                                <th>Révisé le</th>
                                <th>Montant (en k€)</th>
                                <th class="text-center">Commentaires</th>
                                <th class="text-center">Action</th>     
                            </tr>
                        </thead>
                        <tbody>
                        {% if demande.referenceDemande %}                         
                            {% for budget in listDemandeBudget %}
                                <tr>
                                    <td><h5><strong>{{ budget.IPP }}</strong></h5></td>
                                    <td><h5>{{ budget.date|date('d/m/Y') }}</h5></td>
                                    <td><h5>{{ budget.montant|number_format(2, ',', ' ') }}</h5></td>
                                    <td><h5><textarea class="form-control" cols=30 rows=3 id="Commentaires" READONLY>{{ budget.commentaires }}</textarea></h5></td> 
                                    {% if droit != 0 %}
                                        <td id="delete-budget" class="text-center"><a id="{{ budget.id }}" class="btn btn-danger confirmModalBudget"><i class="glyphicon glyphicon-remove"></i> </a></td>                    
                                    {% else %}
                                        <td id="delete-budget" class="text-center"><a id="{{ budget.id }}" class="btn btn-danger confirmModalBudget" DISABLED><i class="glyphicon glyphicon-remove"></i> </a></td>                    
                                    {% endif %}
                                </tr>
                            {% endfor %}   
                        {% endif %}    
                        </tbody>
                    </table>

                </div> 
            </div>           
                {% if demande.referenceDemande %} 
                <form action="" method="post" {{ form_enctype(formBudget) }} id="form_ajouter_budget" >
                    <table class="table" id="champs-table-budget-add">
                        <thead>
                            <tr>
                                <th class="text-center">Année</th>
                                <th class="text-center">Révisé le</th>
                                <th class="text-center">Montant (en k€)</th>
                                <th class="text-center">Commentaires</th>
                                <th class="text-center">Action</th>                    
                            </tr>
                        </thead>                   
                        <tbody>
                            <tr>
                                <td>
                                    <center>
                                        <select class="form-control" id="IPP" name="IPP">
                                        {% for portefeuille in demande.getPortefeuillesToArray() %}
                                                <option value="{{portefeuille.getNom()}}">{{ portefeuille.getNom() }}</option>
                                        {% endfor %}
                                        </select>
                                     </center>
                                </td>                             
                                <td>
                                    <!-- DatetimePiker --> 
                                    <input type='text' class="form-control input-md date textinput" id='date' name="date" required="true" />
                                </td>
                                <td><input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" id="montant" placeholder="Montant" class="form-control input-md textinput currency" name="montant" required="true"></td>
                                <td><textarea class="form-control input-md" id="comment" placeholder="..." name="comment" cols=30 rows=3 ></textarea></td>                            
                                {% if droit != 0 %}
                                    <td class="text-center"><button type="submit" class="btn btn-success" id="add-budget"><i class="glyphicon glyphicon-check"></i></button></td>
                                {% else %}
                                    <td class="text-center"><button type="submit" class="btn btn-success" id="add-budget" DISABLED><i class="glyphicon glyphicon-check"></i></button></td>
                                {% endif %}
                            </tr>   
                        </tbody>   
                    </table>
                </form>    
                {% endif %}             
            </div>
        </div>
    </div>    

            
    <!-- MODAL DELETE -->
    <div id="myModalBudget" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Confirmation</h3>
                </div>
                
                <div class="modal-body">
                    <p class="error-text">Etes vous sûr de vouloir supprimer?</p>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-warning" id="confirmModalBudgetNo">Annuler</a>
                    <a href="#" class="btn btn-danger" id="confirmModalBudgetYes">Supprimer</a>                  
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dalog -->
    </div><!-- /.modal -->               
            
    <script>    
    
    $('#date').datetimepicker({
    todayBtn:"true",
    format:"dd/mm/yyyy", 
    autoclose:"true",
    startView:"year",
    minView:"month",
    language:"fr"
    });  

    $(function() {

        //$('#champs-table-budget-add tr #add-budget').on("click", function() {
        $("#form_ajouter_budget").submit(function(){ 

            var ipp = $("#champs-table-budget-add tr #IPP").val();
            var date = $("#champs-table-budget-add tr #date").val();
            var montant = $("#champs-table-budget-add tr #montant").val();
            var commentaires = $("#champs-table-budget-add tr #comment").val();

            $.ajax({
                type: 'post',
                url: "{% if demande.referenceDemande %}{{ path('demande_update_budget',{'reference': demande.referenceDemande}) }}{% endif %}",
                //data: {ipp: ipp, date: date, montant: montant, commentaires: commentaires},
                data: $('#form_ajouter_budget').serialize(),
                success: function()
                {
                    alert("Ajout5 effectué avec succès! (TEST)");
                    var url = document.location.href;
                    $(location).attr('href',url+"#budget");                 
                    location.reload();        
                },
                error: function(e) {
                   console.log(e);
                 }      
            });
            return false;
        });
    });  


    /*
    $(document).ready(function() {
        $('#portefeuilles-table-panel').DataTable({
            "order": [[ 1, "asc" ]]
        } );
    } );

    $(document).ready(function () {
        var theHREF;

        $(".confirmModalBudget").click(function(e) {
            e.preventDefault();
            theHREF = $(this).attr("href");
            $("#myModalBudget").modal("show");
        });

        $("#confirmModalBudgetNo").click(function(e) {
            $("#myModalBudget").modal("hide");
        });

        $("#confirmModalBudgetYes").click(function(e) {
            $("#myModalBudget").modal("hide");

            //var IPP = $("#champs-table-resume td #delete-budget a").attr("id");
            //console.log(IPP);
        
            //var date = $("#champs-table-resume tr .date").val();
            //var montant = $("#champs-table-resume tr .montant").val();
 
            //$(this).parent().remove();      

            $.post()
              .done(function(data) {
                alert("Suppression effectuée avec succès!");
                console.log("Suppression effectuée avec succès!");
            });
            
        });
    });*/

    $('#champs-table-resume-budget tr #delete-budget').on("click", function()
    {
        var id = $("a", this).attr("id");

        //if(confirm("Etes-vous sûr de vouloir supprimer l'item?")==true)
        //{    
            $(this).parent().remove();      

            $.post("{% if demande.referenceDemande %}{{ path('demande_delete_budget',{'reference': demande.referenceDemande}) }}{% endif %}", {id: id})
              .done(function(data) {
                alert("Suppression effectuée avec succès!");
                var url = document.location.href;
                $(location).attr('href',url+"#budget");                
                location.reload();
            });
        //}

    });

    </script>
    
{% endblock %}        