{% trans_default_domain 'NIPAProjetBundle' %}
		
{% block body %}
    
    {# TEST LES DROITS USER#}
    {% set droit = 0 %}
    {% for groupe in user.getGroupesToArray() %} 
        {% if groupe.getPermission() %} {# Test si le groupe a des permissions #}
            {% if (groupe.getPermission().getCMSPortefeuille() == 1) %} {# Si oui on test les droits d'accès #}
                {% set droit = droit + 1 %}  
            {% endif %}    
        {% endif %}
    {% endfor %}
    
    {% if droit != 0 %}
        <!-- BOUTON ADD -->  
        <center>
            <div class="btn-toolbar">
                <a data-toggle="modal" title="Créer un portfeuille" class="btn btn-success" href="{{ path('portefeuille_new') }}"><i class="glyphicon glyphicon-plus-sign"></i> Nouveau Portefeuille</a>
            </div>
        </center>
    {% else %}   
        <!-- BOUTON ADD -->  
        <center>
            <div class="btn-toolbar">
                <a data-toggle="modal" title="Créer un portfeuille" class="btn btn-success" href="{{ path('portefeuille_new') }}" DISABLED><i class="glyphicon glyphicon-plus-sign"></i> Nouveau Portefeuille</a>
            </div>
        </center>
    {% endif %}
            
    <br><br>   
        
   
    <div id="jstreeportefeuille"> 
        
      <ul id="treeProjet"> 
               
        {% for enveloppe in listPortefeuilleStatut %}  {# Puis sur les type d'enveloppe existantes #}                       
            {% if enveloppe.nom == "En cours" %} {# STATIQUE #}
                <li class="jstree-open"><a href="#">{{ enveloppe.nom }}</a>
            {% else %}
                <li><a href="#">{{ enveloppe.nom }}</a>                        
            {% endif %}
                    <ul>
                        {% for pf in listPortefeuille %} {# Puis on positionne chaque PF dans le bon chemin #}   
                            {% if (pf.getPortefeuilleStatut() ? pf.getPortefeuilleStatut().getNom == enveloppe.nom) %}    
                                {% if portefeuille.referencePortefeuille == pf.referencePortefeuille %}    {# Si celui sélectionné -> on l'active #}                              
                                    <li class="jstree-open"><a class="jstree-clicked" href="{% if pf.referencePortefeuille %} {{ path('portefeuille_edit',{'reference': pf.referencePortefeuille})}}{% endif %}" title="{{pf.getPortefeuilleEnveloppe() ? pf.getPortefeuilleEnveloppe().getNom() }}: {{ pf.referencePortefeuille }}">{{ pf.nom }}</a>
                                {% else %}
                                    <li><a  href="{% if pf.referencePortefeuille %} {{ path('portefeuille_edit',{'reference': pf.referencePortefeuille})}}{% endif %}" title="{{pf.getPortefeuilleEnveloppe() ? pf.getPortefeuilleEnveloppe().getNom() }}: {{ pf.referencePortefeuille }}">{{ pf.nom }}</a>
                                {% endif %}    
                                    </li> 
                            {% endif %}
                        {% endfor %}                                                                    
                    </ul>
                </li>
        {% endfor %}                                
                <li><a href="#">Autres</a>
                    <ul>
                    {% for pf in listPortefeuille %}
                        {% if (pf.getPortefeuilleStatut().getNom is not defined) %}    
                            <li><a  href="{% if pf.referencePortefeuille %} {{ path('portefeuille_edit',{'reference': pf.referencePortefeuille})}}{% endif %}" title="{{pf.getPortefeuilleEnveloppe() ? pf.getPortefeuilleEnveloppe().getNom() }}: {{ pf.referencePortefeuille }}">{{ pf.nom }}</a></li>
                        {% endif %}    
                    {% endfor %} 
                    </ul>
                </li>      
      </ul>               

    </div>    
            
    <!-- <button>demo button</button> -->
 
    <br>           
               
    <script>
        //$('#treeProjet').treed({openedClass : 'glyphicon-folder-open', closedClass : 'glyphicon-folder-close'});    
    </script>

    <script>
    
    $(function () {
      // 6 create an instance when the DOM is ready
      $('#jstreeportefeuille').jstree();
      
      // 7 bind to events triggered on the tree
      $('#jstreeportefeuille').on("changed.jstree", function (e, data) {
        console.log(data.selected);
      });
      
      $('#jstreeportefeuille').on('select_node.jstree', function(e,data) { 
        var href = data.node.a_attr.href;
        document.location.href = href;      
      });
        
      // 8 interact with the tree - either way is OK
      $('button').on('click', function () {
        $('#jstreeportefeuille').jstree(true).select_node('child_node_1');
        $('#jstreeportefeuille').jstree('select_node', 'child_node_1');
        $.jstree.reference('#jstreeportefeuille').select_node('child_node_1');
      });
    });    
    
    </script>    
{% endblock %}