{% extends "NIPAUserBundle::layoutNIPA.html.twig" %}

{% block nipa_stylesheets %}
    	<link rel="stylesheet" href="{{ asset('bundles/nipauserbundle/css/styleAccueil.css') }}" type="text/css" media="all" /> 
        
        <!-- include the alert js source -->
        <script src="{{ asset('bundles/nipauserbundle/js/alertify.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('bundles/nipauserbundle/css/alertify.default.css') }}" type="text/css" media="all" /> 

               
{% endblock %}

{% block nipa_navbar %}
    <ul class="nav navbar-nav">                   
        <li class="active">
            <a class="nav-link" href="{{ path('accueil') }}"><span class="glyphicon glyphicon-home"></span> Accueil</a>
        </li>
        <li class="">
            <a class="nav-link" href="{{ path('user') }}"><span class="glyphicon glyphicon-th-large"></span> Ma page</a>
        </li>
        <li class="">
            <a class="nav-link" href="{{ path('portefeuille') }}"><span class="glyphicon glyphicon-folder-open"></span> Portefeuille<span class="sr-only">(current)</span></a>
        </li>        
        <li class="">
            <a class="nav-link" href="{{ path('demande') }}"><span class="glyphicon glyphicon-folder-open"></span> Demande<span class="sr-only">(current)</span></a>
        </li>   
        <li class="">
            <a class="nav-link" href="{{ path('projet') }}"><span class="glyphicon glyphicon-folder-open"></span> Projet<span class="sr-only">(current)</span></a>
        </li>                  
    </ul> 
{% endblock %}

{% block nipa_navbar_admin %}
    <li class="">
        <a class="nav-link" href="{{ path('administration') }}"><span class="glyphicon glyphicon-wrench"></span> Administration</a>
    </li>      
{% endblock %}  

{% block nipa_user_content %}
    
    {% if droit is defined %}
        <div id="myAlert" class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><span class="glyphicon glyphicon-warning-sign"></span> Vous n'avez pas les droits requis pour accéder à cette section!</strong>
        </div>
    {% endif %}
    
    <div class="container">    
        <h2><span class="glyphicon glyphicon-home"></span> Accueil</h2>    
        
        <br>
        
        <div class="row">          
            {% include "NIPAUserBundle:Default:accueil_content.html.twig" %}         
        </div>
        
    </div>
      <!-- <a href = "#" id = "delay">Hide in 10 seconds</a><br> -->
    <script>
     
        $("#delay").on( 'click', function () {       
            alertify.alert("Message");            
        });
        /*
          $("#delay").on( 'click', function () {
            reset();
            alertify.set({ delay: 10000 });
            alertify.log("Hiding in 10 seconds");
            return false;
         }); */
    </script>
    
{% endblock nipa_user_content %}