{% extends "NIPAUserBundle::layoutNIPA.html.twig" %}

{% block nipa_stylesheets %}
    	<link rel="stylesheet" href="{{ asset('bundles/nipauserbundle/css/styleAccueil.css') }}" type="text/css" media="all" /> 
{% endblock %}

{% block nipa_navbar %}
    <ul class="nav navbar-nav">                   
        <li class="active">
            <a class="nav-link" href="{{ path('accueil') }}"><span class="glyphicon glyphicon-home"></span> Accueil</a>
        </li>
        <li class="">
            <a class="nav-link" href="{{ path('user') }}"><span class="glyphicon glyphicon-th-large"></span> Ma page</a>
        </li>
        <li class="">
            <a class="nav-link" href="{{ path('portefeuille') }}"><span class="glyphicon glyphicon-folder-open"></span> Portefeuille<span class="sr-only">(current)</span></a>
        </li>        
        <li class="">
            <a class="nav-link" href="{{ path('demande') }}"><span class="glyphicon glyphicon-folder-open"></span> Demande<span class="sr-only">(current)</span></a>
        </li>   
        <li class="">
            <a class="nav-link" href="{{ path('projet') }}"><span class="glyphicon glyphicon-folder-open"></span> Projet<span class="sr-only">(current)</span></a>
        </li>                  
    </ul> 
{% endblock %}

{% block nipa_navbar_admin %}
    <li class="">
        <a class="nav-link" href="{{ path('administration') }}"><span class="glyphicon glyphicon-wrench"></span> Administration</a>
    </li>      
{% endblock %}  

{% block nipa_user_content %}
    <div class="container">    
        <h2><span class="glyphicon glyphicon-home"></span> Accueil</h2>    
        
        <br>
        
        <div class="row">          
            {% include "NIPAUserBundle:Default:accueil_content.html.twig" %}         
        </div>
        
    </div>
    
{% endblock nipa_user_content %}