{% extends "NIPAUserBundle::layoutNIPA.html.twig" %}


{% block nipa_stylesheets %}
    	<link rel="stylesheet" href="{{ asset('bundles/nipauserbundle/css/styleAdministration.css') }}" type="text/css" media="all" />
    	<link rel="stylesheet" href="{{ asset('bundles/nipauserbundle/css/tableDroits.css') }}" type="text/css" media="all" />

        <script src="{{ asset('bundles/nipauserbundle/js/navbarAdministration.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/panelFilter.js') }}"></script>   
        <script src="{{ asset('bundles/nipauserbundle/js/tableSearch.js') }}"></script>     
        <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css"> -->
{% endblock %}

{% block nipa_navbar %}
    <ul class="nav navbar-nav">                   
        <li class="">
            <a class="nav-link" href="{{ path('accueil') }}"><span class="glyphicon glyphicon-home"></span> Accueil</a>
        </li>
        <li class="">
            <a class="nav-link" href="{{ path('user') }}"><span class="glyphicon glyphicon-th-large"></span> Ma page</a>
        </li>
        <li class="">
            <a class="nav-link" href="{{ path('portefeuille') }}"><span class="glyphicon glyphicon-folder-open"></span> Portefeuille<span class="sr-only">(current)</span></a>
        </li>        
        <li class="">
            <a class="nav-link" href="{{ path('demande') }}"><span class="glyphicon glyphicon-folder-open"></span> Demande<span class="sr-only">(current)</span></a>
        </li>   
        <li class="">
            <a class="nav-link" href="{{ path('projet') }}"><span class="glyphicon glyphicon-folder-open"></span> Projet<span class="sr-only">(current)</span></a>
        </li>                   
    </ul> 
{% endblock %}

{% block nipa_navbar_admin %}
    <li class="active">
        <a class="nav-link" href="{{ path('administration') }}"><span class="glyphicon glyphicon-wrench"></span> Administration</a>
    </li>      
{% endblock %}  

{% block nipa_user_content %}
    
        <div class="container">    
            <br>
            <div class="row">
                <div class="col-md-4">
                    <center><h4><span class="glyphicon glyphicon-list-alt"></span> Groupes >> {% if groupe.id %} {{ groupe.Nom }} {% else %} Nouveau groupe {% endif %}</h4></center>
                </div>
                {#Si modification groupe via Admnistration #}
                {% if groupe.id %} 
                    <div class="col-md-8">
                        <ul class="nav nav-tabs nav-justified admin-menu">
                            <li class="active"><a href="#" data-target-id="general"><i class="fa fa-list-alt fa-fw"></i> Général</a></li>
                            <li><a href="#" data-target-id="utilisateurs"><i class="fa fa-user fa-fw"></i> Utilisateurs</a></li>
                            <li><a href="#" data-target-id="droits"><i class="fa fa-pencil-square fa-fw"></i> Droits</a></li>               
                        </ul>
                    </div>
                {% else %} {#Si création groupe simple #}
                    <div class="col-md-8">
                        <ul class="nav nav-tabs nav-justified admin-menu">
                            <li class="active"><a href="#" data-target-id="general"><i class="fa fa-list-alt fa-fw"></i> Général</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <br>
            <div class="row">             
                <div class="col-md-12 well admin-content" id="general">
                    {% include "NIPAUserBundle:Groupe:add_content.html.twig" %} 
                </div>

                <div class="col-md-12 well admin-content" id="utilisateurs">
                    {% include "NIPAUserBundle:Groupe:add_users_content.html.twig" %}
                </div>
                {% if groupe.id %} 
                <div class="col-md-12 well admin-content" id="droits">
                    {% include "NIPAUserBundle:Groupe:add_droits_content.html.twig" %}
                </div>  
                {% endif %}
            </div>
        </div>
       
{% endblock nipa_user_content %}