{% extends "NIPAUserBundle::layoutNIPA.html.twig" %}

{% block nipa_stylesheets %}
        <!-- load the theme CSS file of jstree -->
        <link rel="stylesheet" href="{{ asset('bundles/nipaprojetbundle/js/dist/themes/default/style.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/nipauserbundle/css/jquery.dataTables.min.css') }}" type="text/css" media="all" />

        <!-- load the theme CSS an JS files of datetimepicker -->
        <link rel="stylesheet" href="{{ asset('bundles/nipaprojetbundle/css/bootstrap-datetimepicker.css') }}" />
        <script src="{{ asset('bundles/nipaprojetbundle/js/bootstrap-datetimepicker.min.js') }}"></script>   
        <script src="{{ asset('bundles/nipaprojetbundle/js/bootstrap-datetimepicker.fr.js') }}"></script> 
        
        <!-- include the minified jstree source -->
        <script src="{{ asset('bundles/nipaprojetbundle/js/dist/jstree.min.js') }}"></script>

     	<link rel="stylesheet" href="{{ asset('bundles/nipaprojetbundle/css/styleProjet.css') }}" type="text/css" media="all" />
        <script src="{{ asset('bundles/nipauserbundle/js/navbarAdministration.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/panelFilter.js') }}"></script>     
        <!-- <script src="{{ asset('bundles/nipaprojetbundle/js/treeJS.js') }}"></script> -->
        <script src="{{ asset('bundles/nipauserbundle/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('bundles/nipauserbundle/js/dataTables.bootstrap.min.js') }}"></script>           
      
{% endblock %}

{% block nipa_navbar %}
    <ul class="nav navbar-nav">                   
        <li class="">
            <a class="nav-link" href="{{ path('accueil') }}"><span class="glyphicon glyphicon-home"></span> Accueil</a>
        </li>
        <li class="">
            <a class="nav-link" href="{{ path('user') }}"><span class="glyphicon glyphicon-th-large"></span> Ma page</a>
        </li>
        <li class="">
            <a class="nav-link" href="{{ path('portefeuille') }}"><span class="glyphicon glyphicon-folder-open"></span> Portefeuille<span class="sr-only">(current)</span></a>
        </li>        
        <li class="">
            <a class="nav-link" href="{{ path('demande') }}"><span class="glyphicon glyphicon-folder-open"></span> Demande<span class="sr-only">(current)</span></a>
        </li>   
        <li class="active">
            <a class="nav-link" href="{{ path('projet') }}"><span class="glyphicon glyphicon-folder-open"></span> Projet<span class="sr-only">(current)</span></a>
        </li>                  
    </ul> 
{% endblock %}

{% block nipa_navbar_admin %}
    <li class="">
        <a class="nav-link" href="{{ path('administration') }}"><span class="glyphicon glyphicon-wrench"></span> Administration</a>
    </li>      
{% endblock %}

{% block nipa_user_content %}
    <div class="container" role="tabpanel">    
        <br> 
        <div class="row">
            <div class="col-md-3">
                <center><h4><span class="glyphicon glyphicon-folder-open"></span> Projets >> Liste</h4></center>
            </div>
            <div class="col-md-9">
               <ul class="nav nav-tabs nav-justified projet" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#infos" aria-controls="infos" role="tab" data-toggle="tab"><i class="fa fa-info-circle fa-fw"></i> Informations</a>
                    </li>
                    <li role="presentation">
                        <a href="#projet" aria-controls="projet" role="tab" data-toggle="tab"><i class="fa fa-pencil-square fa-fw"></i> Projet</a>
                    </li>     
                    {# {% if projet.referenceProjet %} #} 
                    
                    <li role="presentation">
                        <a href="#cadrage" aria-controls="cadrage" role="tab" data-toggle="tab"><i class="fa fa-list-alt fa-fw"></i> Cadrage</a>
                    </li>                    
                    <li role="presentation">
                        <a href="#conception" aria-controls="conception" role="tab" data-toggle="tab"><i class="fa fa-list-alt fa-fw"></i> Conception</a>
                    </li>                  
                    <li role="presentation">
                        <a href="#realisation" aria-controls="realisation" role="tab" data-toggle="tab"><i class="fa fa-list-alt fa-fw"></i> Réalisation</a>
                    </li>                    
                    <li role="presentation">
                        <a href="#budget" aria-controls="budget" role="tab" data-toggle="tab"><i class="fa fa-dollar fa-fw"></i> Budget</a>
                    </li> 
                    
                    {# {% endif %} #}
                
                </ul>                           
            </div>
        </div>  
        <br>        
        <div class="tab-content row">
            <div class="col-md-3">
                {% include "NIPAProjetBundle:Projet:projet_content.html.twig" %}                
            </div>
            
            <div role="tabpanel" class="col-md-9 well tab-pane active" id="infos">
                {% include "NIPAProjetBundle:Projet:projet_content_gen.html.twig" %}
            </div>
            
            <div role="tabpanel" class="col-md-9 well tab-pane" id="projet">
                {% include "NIPAProjetBundle:Projet:projet_content_projet.html.twig" %}
            </div>      
            
            <div role="tabpanel" class="col-md-9 well tab-pane" id="cadrage">
                {% include "NIPAProjetBundle:Projet:projet_content_cadrage.html.twig" %}
            </div>

            <div role="tabpanel" class="col-md-9 well tab-pane" id="conception">
                {% include "NIPAProjetBundle:Projet:projet_content_conception.html.twig" %}
            </div>     
            
            <div role="tabpanel" class="col-md-9 well tab-pane" id="realisation">
                {% include "NIPAProjetBundle:Projet:projet_content_realisation.html.twig" %}                
            </div> 

            <div role="tabpanel" class="col-md-9 well tab-pane" id="budget">
                {% include "NIPAProjetBundle:Projet:projet_content_budget.html.twig" %}                
            </div>               
        </div>
    </div>
 
                
    <script>
        var url = document.location.toString();
        if (url.match('#')) {
          $('.projet a[href=#'+url.split('#')[1]+']').tab('show') ;
        }        
    </script>                
{% endblock nipa_user_content %}