{% trans_default_domain 'NIPAProjetBundle' %}
		
{% block body %}

    {# TEST LES DROITS USER#}
    {% set droit = 0 %}
    {% for groupe in user.getGroupesToArray() %} 
        {% if groupe.getPermission() %} {# Test si le groupe a des permissions #}
            {% if (groupe.getPermission().getCMSProjet() == 1) %} {# Si oui on test les droits d'accès #}
                {% set droit = droit + 1 %}  
            {% endif %}    
        {% endif %}
    {% endfor %}  

    <h4 class=""><span class='glyphicon glyphicon-usd'></span> {{ 'Informations Budget Projet'|trans }}: {% if projet.referenceProjet %}{{ projet.titre }}{% endif %} </h4>        

        <div class="row col-md-13">

            <!-- PANEL -->          
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">  
                        {% if projet.referenceProjet %} 
                            {% set total = 0 %}
                            {% for etape in listProjetEtape %}
                                {% set counter = 0 %}
                                {% set break = false %}
                                {% for budget in listProjetBudget if not break %}
                                    {% if budget.etapeProjet == etape.getNom() %}
                                        {% set counter = budget.montant %}
                                        {% set break = true %}
                                    {% endif %}
                                {% endfor %} 
                                <strong>{{ etape.getNom() }}</strong> <span class="glyphicon glyphicon-arrow-right"></span> {{ counter|number_format(2, ',', ' ') }} k€ /
                                {% if counter != 0 %}
                                    {% set total = counter %}
                                {% endif %}
                            {% endfor %}
                            <strong>Total </strong> <span class="glyphicon glyphicon-arrow-right"></span> {{ total|number_format(2, ',', ' ') }} k€ /
                        {% endif %}        
                    </h3>
                    <div class="pull-right">  
                        <span data-toggle="collapse" data-target="#collapseInstances" class="clickable collapsed" title="Afficher détails" data-container="body">
                            <i class="glyphicon glyphicon-plus"></i>
                        </span>
                    </div>                
                </div>   
            <div id="collapseInstances" class="panel-collapse collapse">                                
                <div class="panel-body">

                    <table class="table table-hover" id="champs-table-resume-instance">
                        <thead>
                            <tr>
                                <th class="text-center">Etape</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Montant (en k€)</th>
                                <th class="text-center">Remarques</th>
                                <th class="text-center">Action</th>     
                            </tr>
                        </thead>
                        <tbody>
                        {% if projet.referenceProjet %} 
                            {% for budget in listProjetBudget %}
                                <tr>
                                    <td class="text-center"><h5><strong>{{ budget.etapeProjet }}</strong></h5></td>
                                    <td class="text-center"><h5>{{ budget.date|date('d/m/Y') }}</h5></td>
                                    <td class="text-center"><h5>{{ budget.montant }}</h5></td>
                                    <td><h5><textarea class="form-control" cols=30 rows=3 id="Remarques" READONLY>{{ budget.commentaires }}</textarea></h5></td> 
                                    {% if droit != 0 %}
                                        <td id="delete-instance" class="text-center"><a id="{{ budget.getId() }}" class="btn btn-danger confirmModalBudget"><i class="glyphicon glyphicon-remove"></i> </a></td>                    
                                    {% else %}
                                        <td id="delete-instance" class="text-center"><a id="" class="btn btn-danger confirmModalBudget" DISABLED><i class="glyphicon glyphicon-remove"></i> </a></td>                    
                                    {% endif %}
                                </tr>
                            {% endfor %}                        
                        {% endif %}
                        </tbody>
                    </table>

                </div> 
            </div>           
                {% if projet.referenceProjet %} 
                <form action="" method="post" {{ form_enctype(formBudget) }}  id="form_ajouter_budget" >
                    <table class="table" id="champs-table-budget-projet">
                        <thead>
                            <tr>
                                <th class="text-center">Etape</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Montant (en k€)</th>
                                <th class="text-center">Remarques</th>
                                <th class="text-center">Ajouter</th>                    
                            </tr>
                        </thead>                   
                        <tbody>
                            <tr>
                                <td>
                                    <select class="form-control" id="etape" name="etape">
                                      {% for etape in listProjetEtape %}
                                        <option value="{{ etape.nom }}">{{ etape.nom }}</option>
                                       {% endfor %}
                                    </select>                                
                                </td>
                                <td><input type='text' class="form-control input-md date textinput" id='date' name="date" style="text-align:center;" required="true" /></td>
                                <td><input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" id="montant" placeholder="Montant" class="form-control input-md textinput currency" name="montant" required="true" style="text-align:center;"></td>
                                <td class="text-center"><textarea class="form-control input-md" rows="2" cols="30" id="remarques" placeholder="..." name="remarques"></textarea></td>
                                {% if droit != 0 %}
                                    <td class="text-center"><button type="submit" class="btn btn-success" id="add-budget"><i class="glyphicon glyphicon-check"></i></button></td>
                                {% else %}
                                    <td class="text-center"><button type="submit" class="btn btn-success" id="add-budget" DISABLED><i class="glyphicon glyphicon-check"></i></button></td>
                                {% endif %}
                            </tr>   
                        </tbody>   
                    </table>
                </form>    
                {% endif %}
            </div>
        </div>
                
            
    <script>    
    
    $('#date').datetimepicker({
    todayBtn:"true",
    format:"dd/mm/yyyy", 
    autoclose:"true",
    startView:"year",
    minView:"month",
    language:"fr"
    });  

    
    $(function() {

        $("#form_ajouter_budget").submit(function(){ 
                        
            $.ajax({
                type: 'post',
                url: "{% if projet.referenceProjet %}{{ path('add_projet_budget',{'reference': projet.referenceProjet}) }}{% endif %}",
                data: $('#form_ajouter_budget').serialize(),
                success: function()
                {
                    alert("Ajout10 effectué avec succès! (TEST)");
                    var url = document.location.href;
                    $(location).attr('href',url+"#budget");                 
                    location.reload();        
                },
                error: function(e) {
                   console.log(e);
                 }      
            });
                return false;
        }); 
    });  
    

    $('#champs-table-resume-instance tr #delete-instance').on("click", function()
    {
        var id = $("a", this).attr("id");

        //if(confirm("Etes-vous sûr de vouloir supprimer l'item?")==true)
        //{    
            $(this).parent().remove();      

            $.post("{% if projet.referenceProjet %}{{ path('delete_projet_budget',{'reference': projet.referenceProjet}) }}{% endif %}", {id: id})
              .done(function(data) {
                alert("Suppression effectuée avec succès!");
                var url = document.location.href;
                $(location).attr('href',url+"#budget");                
                location.reload();
            });
        //}

    });

    </script>
    
{% endblock %}        