{% trans_default_domain 'NIPAProjetBundle' %}

{% block body %}   


    {# TEST LES DROITS USER#}
    {% set droit = 0 %}
    {% for groupe in user.getGroupesToArray() %} 
        {% if groupe.getPermission() %} {# Test si le groupe a des permissions #}
            {% if (groupe.getPermission().getCMSProjet() == 1) %} {# Si oui on test les droits d'accès #}
                {% set droit = droit + 1 %}  
            {% endif %}    
        {% endif %}
    {% endfor %}      
    
        <h4 class=""><span class='glyphicon glyphicon-list-alt'></span> {{ 'En conception'|trans }}: {% if projet.referenceProjet %}{{ projet.titre }}{% endif %} </h4>        

        <div class="row col-md-13">
            
            <form action="" method="post" {{ form_enctype(formEnConception) }} id="form_maj_en_conception" >

                <div id="accordion2" role="tablist" aria-multiselectable="true">


                    <!-- PANEL(s) En Conception -->      
                
                    {% for phase in listProjetPhaseEtapeConception %}

                            <div class="panel panel-info" id="GDP">
                                <div class="panel-heading" id="GDP">
                                    <h5 class="panel-title"> Informations liées à la phase <strong> {{ phase.getNom()}} </strong></h5>
                                    <div class="pull-right">
                                        Statut: <strong> OK/NOK </strong>
                                        {# <span data-toggle="collapse" data-target="#collapseInfo{{ phase.getNom() }}" class="clickable collapsed" title="Afficher détails" data-container="body"> #}
                                        <span data-toggle="collapse" data-parent="#accordion2" id="collapsePhaseConception{{ phase.getNom() }}"  href="#collapsePhase{{ phase.getNom() }}" class="clickable collapsed" title="Afficher détails" data-container="body">
                                            {% if listProjetPhaseEtapeConception|length == 1 %}            
                                                <i class="glyphicon glyphicon-chevron-down"></i> 
                                            {% else %}
                                                <i class="glyphicon glyphicon-chevron-right"></i> 
                                            {% endif %}
                                        </span>
                                    </div>                      
                                </div>
                                {% if listProjetPhaseEtapeConception|length == 1 %}            
                                    <div id="collapsePhase{{ phase.getNom() }}" class="panel-collapse collapse in"> 
                                {% else %}
                                    <div id="collapsePhase{{ phase.getNom() }}" class="panel-collapse collapse"> 
                                {% endif %}
                                    <div class="panel-body">
                                        
                                        <!-- PANEL JALONS -->
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <h5 class="panel-title"> Liste Jalons</h5>
                                                <div class="pull-right">
                                                    <span data-toggle="collapse" data-target="#collapseJalon{{ phase.getNom() }}" class="clickable collapsed" title="Jalons" data-container="body">
                                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                                    </span>
                                                </div>                      
                                            </div>  
                                                        
                                            <div id="collapseJalon{{ phase.getNom() }}" class="panel-collapse collapse"> 
                                            <div class="panel-body">

                                                <table class="table table-hover" id="champs-table-livrables GDP">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none">ID</th>
                                                            <th class="text-center">Jalons</th>
                                                            <th class="text-center">Date Prévue</th>
                                                            <th class="text-center">Date Révisée</th>
                                                            <th class="text-center">Validation</th>
                                                            <th class="text-center">Remarques</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                    {# LIVRABLES #}
                                                    {% if listProjetListeLivrableEnConception is defined %}
                                                        {% if listProjetListeLivrableEnConception|length == 0 %}
                                                            {% for liv in listProjetLivrable %}
                                                                {% if liv.getRefPhase().getNom() == phase.getNom()%}
                                                                    <tr>    
                                                                        <td style="display:none"><input type="text" class="form-control input-md date textinput" value="{{ liv.getId() }}" id="IdLivrable{{ liv.getReference() }}" class="IdLivrable{{ liv.getReference() }}" name="Livrable[id][]" style="text-align:center;"></td>
                                                                        <td class="text-center" title="{{ liv.description }}"><strong>{{ liv.getNom() }}</strong></td>
                                                                        <td><input type="text" class="form-control input-md date textinput" id="datePrevLivrable{{ liv.getReference() }}" class="datePrevLivrable{{ liv.getReference() }}" name="Livrable[datePrev][]" style="text-align:center;"></td>
                                                                        <td><input type="text" class="form-control input-md date textinput" id="dateRevLivrable{{ liv.getReference() }}" class="dateRevLivrable{{ liv.getReference() }}" name="Livrable[dateRev][]" style="text-align:center;"></td>
                                                                        <td class="text-center"><input type="checkbox" id="validationLivrable{{ liv.getReference() }}" name="Livrable[validation][{{ liv.getReference() }}]" /></td>
                                                                        <td class="text-center"><textarea class="form-control input-md" rows="2" cols="50" id="remarquesLivrable{{ liv.getReference() }}" placeholder="..." name="Livrable[remarques][]"></textarea></td>
                                                                    </tr>
                                                                    <script>

                                                                        $(function () {
                                                                            $('#datePrevLivrable{{ liv.getReference() }}').datetimepicker({
                                                                                todayBtn:"true",
                                                                                format:"dd/mm/yyyy", 
                                                                                autoclose:"true",
                                                                                startView:"year",
                                                                                minView:"month",
                                                                                language:"fr",
                                                                            });
                                                                        });

                                                                        $(function () {
                                                                            $('#dateRevLivrable{{ liv.getReference() }}').datetimepicker({
                                                                                todayBtn:"true",
                                                                                format:"dd/mm/yyyy", 
                                                                                autoclose:"true",
                                                                                startView:"year",
                                                                                minView:"month",
                                                                                language:"fr",
                                                                            });
                                                                        });

                                                                    </script>    

                                                                {% endif%}
                                                            {% endfor %}
                                                        {% else %}
                                                            {% for livData in listProjetListeLivrableEnConception %}
                                                                {% if livData.getLivrable().getRefPhase().getNom() == phase.getNom()%}
                                                                    <tr>    
                                                                        <td style="display:none"><input type="text" class="form-control input-md date textinput" value="{{ livData.getLivrable().getId() }}" id="IdLivrable{{ livData.getLivrable().getReference() }}" class="IdLivrable{{ livData.getLivrable().getReference() }}" name="Livrable[id][]" style="text-align:center;" ></td>
                                                                        <td class="text-center" title="{{ livData.getLivrable().description }}"><strong>{{ livData.getLivrable().getNom() }}</strong></td>
                                                                        <td><input type="text" class="form-control input-md date textinput" id="datePrevLivrable{{ livData.getLivrable().getReference() }}" class="datePrevLivrable{{ livData.getLivrable().getReference() }}" name="Livrable[datePrev][]" style="text-align:center;" value="{% if livData.getDatePrev() != null %}{{ livData.getDatePrev()|date('d/m/Y') }}{% endif %}"></td>
                                                                        <td><input type="text" class="form-control input-md date textinput" id="dateRevLivrable{{ livData.getLivrable().getReference() }}" class="dateRevLivrable{{ livData.getLivrable().getReference() }}" name="Livrable[dateRev][]" style="text-align:center;" value="{% if livData.getDateRev() != null %}{{ livData.getDateRev()|date('d/m/Y') }}{% endif %}"></td>
                                                                        {% if livData.getValidationEffective() == true %}
                                                                            <td class="text-center"><input type="checkbox" id="validationLivrable{{ livData.getLivrable().getReference() }}" name="Livrable[validation][{{ livData.getLivrable().getReference() }}]" checked/></td>
                                                                        {% else %}
                                                                            <td class="text-center"><input type="checkbox" id="validationLivrable{{ livData.getLivrable().getReference() }}" name="Livrable[validation][{{ livData.getLivrable().getReference() }}]" /></td>
                                                                        {% endif %}
                                                                        <td class="text-center"><textarea class="form-control input-md" rows="2" cols="50" id="remarquesLivrable{{ livData.getLivrable().getReference() }}" placeholder="..." name="Livrable[remarques][]">{{ livData.getRemarques() }}</textarea></td>
                                                                    </tr>
                                                                    <script>

                                                                        $(function () {
                                                                            $('#datePrevLivrable{{ livData.getLivrable().getReference() }}').datetimepicker({
                                                                                todayBtn:"true",
                                                                                format:"dd/mm/yyyy", 
                                                                                autoclose:"true",
                                                                                startView:"year",
                                                                                minView:"month",
                                                                                language:"fr",
                                                                            });
                                                                        });

                                                                        $(function () {
                                                                            $('#dateRevLivrable{{ livData.getLivrable().getReference() }}').datetimepicker({
                                                                                todayBtn:"true",
                                                                                format:"dd/mm/yyyy", 
                                                                                autoclose:"true",
                                                                                startView:"year",
                                                                                minView:"month",
                                                                                language:"fr",
                                                                            });
                                                                        });

                                                                    </script>                                                                   

                                                                {% endif %}
                                                             {% endfor %}                                                          
                                                        {% endif %}
                                                    {% endif %}
                                                    
                                                    {# JALONS #}
                                                    {% if listProjetListeJalonDateEnConception is defined %}
                                                        {% if listProjetListeJalonDateEnConception|length == 0 %}
                                                            {% for jal in listProjetJalonDate %}
                                                                {% if jal.getRefPhase().getNom() == phase.getNom()%}
                                                                    <tr>    
                                                                        <td style="display:none"><input type="text" class="form-control input-md date textinput" value="{{ jal.getId() }}" id="IdJalon{{ jal.getReference() }}" class="IdJalon{{ jal.getReference() }}" name="Jalon[id][]" style="text-align:center;"></td>
                                                                        <td class="text-center" title="{{ jal.description }}"><strong>{{ jal.getNom() }}</strong></td>
                                                                        <td><input type="text" class="form-control input-md date textinput" id="datePrevJalon{{ jal.getReference() }}" class="datePrevJalon{{ jal.getReference() }}" name="Jalon[datePrev][]" style="text-align:center;"></td>
                                                                        <td><input type="text" class="form-control input-md date textinput" id="dateRevJalon{{ jal.getReference() }}" class="dateRevJalon{{ jal.getReference() }}" name="Jalon[dateRev][]" style="text-align:center;"></td>
                                                                        <td class="text-center"><input type="checkbox" id="validationJalon{{ jal.getReference() }}" name="Jalon[validation][{{ jal.getReference() }}]" /></td>
                                                                        <td class="text-center"><textarea class="form-control input-md" rows="2" cols="50" id="remarquesJalon{{ jal.getReference() }}" placeholder="..." name="Jalon[remarques][]"></textarea></td>
                                                                    </tr>    
                                                                    <script>

                                                                        $(function () {
                                                                            $('#datePrevJalon{{ jal.getReference() }}').datetimepicker({
                                                                                todayBtn:"true",
                                                                                format:"dd/mm/yyyy", 
                                                                                autoclose:"true",
                                                                                startView:"year",
                                                                                minView:"month",
                                                                                language:"fr",
                                                                            });
                                                                        });

                                                                        $(function () {
                                                                            $('#dateRevJalon{{ jal.getReference() }}').datetimepicker({
                                                                                todayBtn:"true",
                                                                                format:"dd/mm/yyyy", 
                                                                                autoclose:"true",
                                                                                startView:"year",
                                                                                minView:"month",
                                                                                language:"fr",
                                                                            });
                                                                        });

                                                                    </script>    

                                                                {% endif%}
                                                            {% endfor %}
                                                        {% else %}
                                                            {% for jalonData in listProjetListeJalonDateEnConception %}
                                                                {% if jalonData.getJalonDate().getRefPhase().getNom() == phase.getNom()%}
                                                                    <tr>    
                                                                        <td style="display:none"><input type="text" class="form-control input-md date textinput" value="{{ jalonData.getJalonDate().getId() }}" id="IdJalon{{ jalonData.getJalonDate().getReference() }}" class="IdJalon{{ jalonData.getJalonDate().getReference() }}" name="Jalon[id][]" style="text-align:center;"></td>
                                                                        <td class="text-center" title="{{ jalonData.getJalonDate().description }}"><strong>{{ jalonData.getJalonDate().getNom() }}</strong></td>
                                                                        <td><input type="text" class="form-control input-md date textinput" id="datePrevJalon{{ jalonData.getJalonDate().getReference() }}" class="datePrevJalon{{ jalonData.getJalonDate().getReference() }}" name="Jalon[datePrev][]" style="text-align:center;" value="{% if jalonData.getDatePrev() != null %}{{ jalonData.getDatePrev()|date('d/m/Y') }}{% endif%}"></td>
                                                                        <td><input type="text" class="form-control input-md date textinput" id="dateRevJalon{{ jalonData.getJalonDate().getReference() }}" class="dateRevJalon{{ jalonData.getJalonDate().getReference() }}" name="Jalon[dateRev][]" style="text-align:center;" value="{% if jalonData.getDateRev() != null %}{{ jalonData.getDateRev()|date('d/m/Y') }}{% endif %}"></td>
                                                                        {% if jalonData.getValidationEffective() == true %}
                                                                            <td class="text-center"><input type="checkbox" id="validationJalon{{ jalonData.getJalonDate().getReference() }}" name="Jalon[validation][{{ jalonData.getJalonDate().getReference() }}]" checked/></td>
                                                                        {% else %}
                                                                            <td class="text-center"><input type="checkbox" id="validationJalon{{ jalonData.getJalonDate().getReference() }}" name="Jalon[validation][{{ jalonData.getJalonDate().getReference() }}]" /></td>
                                                                        {% endif %}                                                                            
                                                                        <td class="text-center"><textarea class="form-control input-md" rows="2" cols="50" id="remarquesJalon{{ jalonData.getJalonDate().getReference() }}" placeholder="..." name="Jalon[remarques][]">{{ jalonData.getRemarques() }}</textarea></td>
                                                                    </tr>
                                                                    <script>

                                                                        $(function () {
                                                                            $('#datePrevJalon{{ jalonData.getJalonDate().getReference() }}').datetimepicker({
                                                                                todayBtn:"true",
                                                                                format:"dd/mm/yyyy", 
                                                                                autoclose:"true",
                                                                                startView:"year",
                                                                                minView:"month",
                                                                                language:"fr",
                                                                            });
                                                                        });

                                                                        $(function () {
                                                                            $('#dateRevJalon{{ jalonData.getJalonDate().getReference() }}').datetimepicker({
                                                                                todayBtn:"true",
                                                                                format:"dd/mm/yyyy", 
                                                                                autoclose:"true",
                                                                                startView:"year",
                                                                                minView:"month",
                                                                                language:"fr",
                                                                            });
                                                                        });

                                                                    </script>                                                                 

                                                                {% endif %}
                                                            {% endfor %}   
                                                        {% endif %}    
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>        
                                            </div>
                                        </div>
                                                
                                        <!-- PANEL INSTANCES -->
                                        {% if countInstance[phase.getId()-1][1] != 0 %} {# On test si on des instances pour cette phase Projet #}
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <h5 class="panel-title"> Liste Instances</h5>
                                                <div class="pull-right">
                                                    <span data-toggle="collapse" data-target="#collapseInstance{{ phase.getNom() }}" class="clickable collapsed" title="Instances" data-container="body">
                                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                                    </span>
                                                </div>                      
                                            </div>  
                                                        
                                            <div id="collapseInstance{{ phase.getNom() }}" class="panel-collapse collapse"> 
                                            <div class="panel-body">
                                                
                                                <table class="table table-hover" id="champs-table-conception-liste-instance{{phase.getNom()}}">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none">ID</th>
                                                            <th class="text-center">Instances</th>
                                                            <th class="text-center">Date</th>
                                                            {#<th class="text-center">Date Révisée</th>#}
                                                            <th class="text-center">Validation</th>
                                                            <th class="text-center">Remarques</th>
                                                            <th class="text-center">Statut</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if projet.referenceProjet %} 
                                                            {% for instance in listProjetListeInstance %}
                                                                {% if instance.getInstance().getRefPhase().getNom() == phase.getNom() %}
                                                                <tr>
                                                                    <td class="text-center"><h5><strong>{{ instance.getInstance().getNom() }}</strong></h5></td>
                                                                    <td class="text-center"><h5>{{ instance.datePrev|date('d/m/Y') }}</h5></td>
                                                                   {#<td><h5>{{ instance.dateRev }}</h5></td>#}
                                                                    {% if instance.validationEffective == true %}
                                                                        <td class="text-center"><h5>OK</h5></td>
                                                                    {% else %}
                                                                        <td class="text-center"><h5>NOK</h5></td>
                                                                    {% endif %}
                                                                    <td><h5><textarea class="form-control" cols=30 rows=3 id="Remarques" READONLY>{{ instance.remarques }}</textarea></h5></td> 
                                                                    <td class="text-center"><h5>{{ instance.getStatutInstance() }}</h5></td>
                                                                    {% if droit != 0 %}
                                                                        <td id="delete-instance{{phase.getNom()}}"><a id="{{ instance.id }}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> </a></td>                    
                                                                    {% else %}
                                                                        <td id="delete-instance-no{{phase.getNom()}}"><a id="{{ instance.id }}" class="btn btn-danger" DISABLED><i class="glyphicon glyphicon-remove"></i> </a></td>                    
                                                                    {% endif %}
                                                                </tr>
                                                                {% endif %}
                                                            {% endfor %}                        
                                                        {% endif %}
                                                    </tbody>
                                                </table>    
                                                    
                                            </div>        
                                            </div>
                                                   
                                                {% if projet.referenceProjet %} 
                                                     <table class="table" id="champs-table-conception-instance{{phase.getNom()}}">
                                                         <thead>
                                                             <tr>
                                                                <th class="text-center">Instances</th>
                                                                <th class="text-center">Date</th>
                                                                {# <th class="text-center">Date Révisée</th> #}
                                                                <th class="text-center">Validation</th>
                                                                <th class="text-center">Remarques</th>
                                                                <th class="text-center">Statut</th>
                                                                <th class="text-center">Ajouter</th>                    
                                                             </tr>
                                                         </thead>                   
                                                         <tbody>
                                                             <tr>
                                                                 <td class="text-center">
                                                                    <select class="form-control" id="nomInstance{{phase.getNom()}}" name="nomInstance{{phase.getNom()}}">
                                                                        {% for ins in listProjetInstance %}
                                                                            {% if ins.getRefPhase().getNom() == phase.getNom() %}
                                                                                <option value="{{ ins.getId() }}">{{ ins.getNom() }}</option>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </select> 
                                                                </td>
                                                                <td><input type="text" class="form-control input-md date textinput" id="datePrevInstance{{phase.getNom()}}" class="datePrevInstance{{phase.getNom()}}" name="datePrevInstance{{phase.getNom()}}" style="text-align:center;"></td>
                                                                {# <td><input type="text" class="form-control input-md date textinput" id="dateRevInstance{{phase.getNom()}}" class="dateRevInstance{{phase.getNom()}}" name="dateRevInstance{{phase.getNom()}}" style="text-align:center;"></td> #}
                                                                <td class="text-center"><input type="checkbox" id="validationInstance{{phase.getNom()}}" name="validationInstance{{phase.getNom()}}" value="false" onchange="if(this.checked) this.value='true'; else this.value='false';" /></td>
                                                                <td class="text-center"><textarea class="form-control input-md" rows="2" cols="30" id="remarquesInstance{{phase.getNom()}}" placeholder="..." name="remarquesInstance{{phase.getNom()}}"></textarea></td>
                                                                <td class="text-center">                                    
                                                                    <select class="form-control" id="statutInstance{{phase.getNom()}}" name="statutInstance{{phase.getNom()}}">
                                                                    <option>GO</option>
                                                                    <option>NO GO</option>
                                                                    <option>N/A</option>
                                                                  </select> 
                                                                </td>                                                                 
                                                                {% if droit != 0 %}
                                                                    <td class="text-center"><button type="submit" class="btn btn-success" id="add-conception-instance{{phase.getNom()}}"><i class="glyphicon glyphicon-plus"></i></button></td>
                                                                 {% else %}
                                                                    <td class="text-center"><button type="submit" class="btn btn-success" id="add-conception-instance-no{{phase.getNom()}}" DISABLED><i class="glyphicon glyphicon-plus"></i></button></td>
                                                                {% endif %}
                                                             </tr>   
                                                         </tbody>   
                                                     </table>
                                                             
                                                    <script>

                                                        $(function () {
                                                            $('#datePrevInstance{{phase.getNom()}}').datetimepicker({
                                                                todayBtn:"true",
                                                                format:"dd/mm/yyyy", 
                                                                autoclose:"true",
                                                                startView:"year",
                                                                minView:"month",
                                                                language:"fr",
                                                            });
                                                        });
                                                        
                                                        /*
                                                        $(function () {
                                                            $('#dateRevInstance{{phase.getNom()}}').datetimepicker({
                                                                todayBtn:"true",
                                                                format:"dd/mm/yyyy", 
                                                                autoclose:"true",
                                                                startView:"year",
                                                                minView:"month",
                                                                language:"fr",
                                                            });
                                                        });   
                                                        */
       
                                                        $(function() {

                                                            $('#champs-table-conception-instance{{phase.getNom()}} tr #add-conception-instance{{phase.getNom()}}').on("click", function() {
                                                                  
                                                                alertify.defaults.glossary.title = "Informations";
                                                                //alertify.defaults.theme.ok = "ui positive button";

                                                                var id = $("#champs-table-conception-instance{{phase.getNom()}} tr #nomInstance{{phase.getNom()}}").val();
                                                                var datePrev = $("#champs-table-conception-instance{{phase.getNom()}} tr #datePrevInstance{{phase.getNom()}}").val();
                                                                var validation = $("#champs-table-conception-instance{{phase.getNom()}} tr #validationInstance{{phase.getNom()}}").val();
                                                                var remarques = $("#champs-table-conception-instance{{phase.getNom()}} tr #remarquesInstance{{phase.getNom()}}").val();
                                                                var statut = $("#champs-table-conception-instance{{phase.getNom()}} tr #statutInstance{{phase.getNom()}}").val();
                                                                
                                                                // Test si date renseignée
                                                                if(datePrev === "")
                                                                {
                                                                    alertify.alert("Veuillez renseigner une date SVP."); 
                                                                    return false;
                                                                }
                                                                
                                                                $.ajax({
                                                                    type: 'post',
                                                                    url: "{% if projet.referenceProjet %}{{ path('update_projet_instance',{'reference': projet.referenceProjet}) }}{% endif %}",
                                                                    data: {id: id, datePrev: datePrev, validation: validation, remarques: remarques, statut: statut},
                                                                    success: function()
                                                                    {
                                                                        alert("Ajout5 effectué avec succès! (TEST)");
                                                                        var url = document.location.href;
                                                                        $(location).attr('href',url+"#conception");                 
                                                                        location.reload();        
                                                                    },
                                                                    error: function(e) {
                                                                       console.log(e);
                                                                     }      
                                                                });
                                                                return false;
                                                            }); 
                                                        });     

                                                        $('#champs-table-conception-liste-instance{{phase.getNom()}} tr #delete-instance{{phase.getNom()}}').on("click", function()
                                                        {
                                                            var id = $("a", this).attr("id");

                                                            //if(confirm("Etes-vous sûr de vouloir supprimer l'item?")==true)
                                                            //{    
                                                                $(this).parent().remove();      

                                                                $.post("{% if projet.referenceProjet %}{{ path('delete_projet_instance',{'reference': projet.referenceProjet}) }}{% endif %}", {id: id})
                                                                  .done(function(data) {
                                                                    alert("Suppression effectuée avec succès!");
                                                                    var url = document.location.href;
                                                                    $(location).attr('href',url+"#conception");                
                                                                    location.reload();
                                                                });
                                                            //}

                                                        });                                                    
                                                    
                                                    </script>
                                                             
                                                 {% endif %}                                                
                                                
                                        </div>
                                        {% endif %}
                                                    
                                    </div> 
                                </div>                    
                            </div> 

                            <br>     
                        
                            <script>
                                $(document).ready(function(){
                                  $("#collapsePhase{{ phase.getNom() }}").on("hide.bs.collapse", function(){
                                    $("#collapsePhaseConception{{ phase.getNom() }}").html('<span class="glyphicon glyphicon-chevron-right"></span>');
                                  });
                                  $("#collapsePhase{{ phase.getNom() }}").on("show.bs.collapse", function(){
                                    $("#collapsePhaseConception{{ phase.getNom() }}").html('<span class="glyphicon glyphicon-chevron-down"></span>');
                                  });
                                });
                            </script>                               
                            
                    {% endfor %}
                    
                        </div>
            </div>
        
        <div class="pull-right">
            {% if droit != 0 %}
                <button class="btn btn-success" type="submit"><span class='glyphicon glyphicon-check'></span> Valider</button>           
            {% else %}
                <button class="btn btn-success" type="submit" DISABLED><span class='glyphicon glyphicon-check'></span> Valider</button>           
            {% endif %}
        </div> 
    </form>


    <script>

        $(function() {

            $("#form_maj_en_conception").submit(function(){ 

                $.ajax({
                    type: 'post',
                    url: "{% if projet.referenceProjet %}{{ path('projet_maj_en_conception',{'reference': projet.referenceProjet}) }}{% endif %}",
                    data: $('#form_maj_en_conception').serialize(),
                    success: function()
                    {
                        alert("Ajout effectué avec succès! (TEST)");
                        var url = document.location.href;
                        $(location).attr('href',url+"#conception");                 
                        location.reload();        
                    },
                    error: function(e) {
                       console.log(e);
                     }      
                });
                return false;
            });
        });  
       
           
    </script>
    
{% endblock %}            