{% trans_default_domain 'NIPAUserBundle' %}

{% block nipa_users_champs_divers %}       
    
    <!-- MODAL EDIT DIVERS -->
    <div id="myModalEditDivers" class="modal fade in" style="">
        <div class="modal-dialog"  style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel"><span class="glyphicon glyphicon-edit"></span> Administration</h3>
                </div>
                
                <div class="modal-body">
                    <!--  <div id="jsGrid"></div> -->      
                    <!-- <input type="text" name="Id" id="Id" value=""/> -->

                    <!-- PANEL -->          
                    <div class="panel panel-danger">
                        <div class="panel-heading">               
                            <h3 class="panel-title"><i class="glyphicon glyphicon-share-alt"></i> Champ "Divers"</h3>
                            <div class="pull-right">              
                                <span class="clickable filter" data-toggle="tooltip" title="Afficher détails" data-container="body">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </span>
                            </div>                
                        </div>        
                        <div class="panel-body" style="display: none;">

                            <table class="table table-hover" id="champs-table-divers">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th style="display: none;">ID</th>                                        
                                        <th>Valeur</th>
                                        <th>Edition</th>                                        
                                        <th>Suppression</th>                                           
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if listDivers is empty %}
                                        <center><p>(Aucune donnée)</p></center>
                                    {% else %}    
                                        {% for divers in listDivers %}
                                            <tr data-id="{{ loop.index }}">
                                                <td>{{ loop.index }}</td>
                                                <td data-field="id" class="id" style="display: none;">{{ divers.id }}</td>                                            
                                                <td data-field="valeur" class="valeur">{{ divers.valeur }}</td>
                                                <td>
                                                    <a class="button button-small edit" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    <!-- <a class="button button-small cancel" title="Annuler"><i class="glyphicon glyphicon-remove"></i></a> -->                                                
                                                </td>                                            
                                                <td id="delete-divers" class="text-center"><a id="{{ divers.id }}" class="button button-small" title="Supprimer"><i class="glyphicon glyphicon-trash"></i> </a></td>                    
                                            </tr>
                                        {% endfor %}  
                                    {% endif%}    
                                </tbody>
                            </table>

                        </div>  
                        <table class="table" id="champs-table-divers-add">
                            <thead>
                                <tr>
                                    <th class="text-center">Nouvelle valeur</th>
                                    <th class="text-center">Action</th>                    
                                </tr>
                            </thead>                   
                            <tbody>
                                <tr>                             
                                     <td><input type="text" class="form-control input-md textinput" id="valeur" name="valeur" required="true"></td>
                                     <td class="text-center" id="add-divers"><button type="submit" title="Ajouter" class="btn btn-success"><i class="glyphicon glyphicon-check"></i></button></td>
                                 </tr>   
                            </tbody>   
                        </table>
                    </div>

                    
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" id="confirmModalEditDiversNo">Fermer</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dalog -->
    </div><!-- /.modal -->    
    
    <script>

        $(document).ready(function () {
            var theHREF;

            $(".confirmModalEditDivers").click(function(e) {
                e.preventDefault();
                theHREF = $(this).attr("href");          
                $("#myModalEditDivers").modal("show");
                //var Id = $(this).data('id');
                //$(".modal-body #Id").val( Id );              
            });

            $("#confirmModalEditDiversNo").click(function(e) {
                $("#myModalEditDivers").modal("hide");
            });
        });
    

    /*********Divers*************/

    $('#champs-table-divers tr').editable({

      // enable keyboard support
      keyboard: true,

      // double click to start editing
      dblclick: true,

      // enable edit buttons
      button: true,

      // CSS selector for edit buttons
      buttonSelector: ".edit",

      // uses select dropdown instead of input field
      dropdowns: {},

      // maintains column width when editing
      maintainWidth: true,

      // callbacks for edit, save and cancel actions
      edit: function(values) {
            $(".cancel i", this)
            .show();

            $(".edit i", this)
            .removeClass('glyphicon-pencil')
            .addClass('glyphicon-save')
            .attr('title', 'Save');  
        },

      save: function(values) {
            $(".cancel i", this)
            .hide();     

            $(".edit i", this)
            .removeClass('glyphicon-save')
            .addClass('glyphicon-pencil')
            .attr('title', 'Edit');  


            /* Test contre les valeurs dupliquées */
             var chemin =  $(".valeur", this); 
             var boolean = 0;
             $('#champs-table-divers').find("tbody").find("tr").each(function(){
               var identifiant= $(this).find(".id").text();
               var valeur= $(this).find(".valeur").text();
               
               /*Pour enlever les espaces qui empechent la comparaison*/
               var valeur_X = valeur.replace(/ /g, '_');
               var valeur_Y = values["valeur"].replace(/ /g, '_');
               //console.log(valeur_X);
               //console.log(valeur_Y);

                if(valeur_X == valeur_Y && identifiant != values["id"])
                {
                    boolean = 1;
                }
            });
            
            if(boolean == 1)
            {
                alert("Valeur déjà existante!");
                chemin.html("");
                return;                  
            }
            else
            {
                /* Si ok on post*/
                var id = $(this).data('id');
                $.post('{{ path('administration_demande_champ_divers_edit')}}', values);        
            } 

        },

      cancel: function(values) {
            $(".edit i", this)
            .removeClass('glyphicon-save')
            .addClass('glyphicon-pencil')
            .attr('title', 'Edit');  
        }

    });

    $('#champs-table-divers tr #delete-divers').on("click", function()
    {
        var identifiant = $("a", this).attr("id");

        if(confirm("Etes-vous sûr de vouloir supprimer l'item?")==true)
        {    
            $(this).parent().remove();      

            $.post("{{ path('administration_demande_champ_divers_delete')}}", { id: identifiant})
              .done(function(data) {
                alert("Suppression effectuée avec succès!");
            });
        }

    });

    $('#champs-table-divers-add tr #add-divers').on("click", function()
    {
        var valeur = $("#champs-table-divers-add tr #valeur").val();

        $.ajax({
            type: 'post',
            url: "{{ path('administration_demande_champ_divers_add') }}",
            data: {valeur: valeur},
            success: function()
            {
                alert("Ajout effectué avec succès!");
                //var url = document.location.href;
                //$(location).attr('href',url+"#budget");                 
                //location.reload();        
            },
            error: function(e) {
                alert("Cette valeur existe déjà!");                
               console.log(e);
             }      
        });

    });    
    </script>
    
{% endblock %}
