{# empty Twig template #}
{% trans_default_domain 'NIPAUserBundle' %}

{% block nipa_users_champs_etape %}       
    
    <!-- MODAL EDIT Etape  -->
    <div id="myModalEditEtape" class="modal fade in" style="">
        <div class="modal-dialog"  style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel"><span class="glyphicon glyphicon-edit"></span> Administration</h3>
                </div>
                
                <div class="modal-body">
                    <!--  <div id="jsGrid"></div> -->      
                    <!-- <input type="text" name="Id" id="Id" value=""/> -->

                    <!-- PANEL -->          
                    <div class="panel panel-info">
                        <div class="panel-heading">               
                            <h3 class="panel-title"><i class="glyphicon glyphicon-share-alt"></i> Champ "Etape Projet"</h3>
                            <div class="pull-right">              
                                <span class="clickable filter" data-toggle="tooltip" title="Afficher détails" data-container="body">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </span>
                            </div>                
                        </div>        
                        <div class="panel-body" style="display: none;">

                            <table class="table table-hover" id="champs-table-etape">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th style="display: none;">ID</th>                                        
                                        <th>Valeur</th>
                                        <th>Edition</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if listEtapes is empty %}
                                        <center><p>(Aucune donnée)</p></center>
                                    {% else %}    
                                        {% for etape in listEtapes %}
                                            <tr data-id="{{ loop.index }}">
                                                <td>{{ loop.index }}</td>
                                                <td data-field="id" class="id" style="display: none;">{{ etape.id }}</td>                                            
                                                <td data-field="nom" class="nom">{{ etape.nom }}</td>
                                                <td>
                                                    <a class="button button-small edit" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    <!-- <a class="button button-small cancel" title="Annuler"><i class="glyphicon glyphicon-remove"></i></a> -->                                                
                                                </td>                                            
                                            </tr>
                                        {% endfor %}  
                                    {% endif%}    
                                </tbody>
                            </table>

                        </div>  
                    </div>

                    
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" id="confirmModalEditEtapeNo">Fermer</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dalog -->
    </div><!-- /.modal -->    
    
    <script>

        $(document).ready(function () {
            var theHREF;

            $(".confirmModalEditEtape").click(function(e) {
                e.preventDefault();
                theHREF = $(this).attr("href");          
                $("#myModalEditEtape").modal("show");
                //var Id = $(this).data('id');
                //$(".modal-body #Id").val( Id );              
            });

            $("#confirmModalEditEtapeNo").click(function(e) {
                $("#myModalEditEtape").modal("hide");
            });
        });
    

    /*********Etape Projet*************/

    $('#champs-table-etape tr').editable({

      // enable keyboard support
      keyboard: true,

      // double click to start editing
      dblclick: true,

      // enable edit buttons
      button: true,

      // CSS selector for edit buttons
      buttonSelector: ".edit",

      // uses select dropdown instead of input field
      dropdowns: {},

      // maintains column width when editing
      maintainWidth: true,

      // callbacks for edit, save and cancel actions
      edit: function(values) {
            $(".cancel i", this)
            .show();

            $(".edit i", this)
            .removeClass('glyphicon-pencil')
            .addClass('glyphicon-save')
            .attr('title', 'Save');  
        },

      save: function(values) {
            $(".cancel i", this)
            .hide();     

            $(".edit i", this)
            .removeClass('glyphicon-save')
            .addClass('glyphicon-pencil')
            .attr('title', 'Edit');  


            /* Test contre les valeurs dupliquées */
             var chemin =  $(".nom", this); 
             var boolean = 0;
             $('#champs-table-etape').find("tbody").find("tr").each(function(){
               var identifiant= $(this).find(".id").text();
               var nom= $(this).find(".nom").text();
               
               /*Pour enlever les espaces qui empechent la comparaison*/
               var nom_X = nom.replace(/ /g, '_');
               var nom_Y = values["nom"].replace(/ /g, '_');
               //console.log(nom_X);
               //console.log(nom_Y);

                if(nom_X == nom_Y && identifiant != values["id"])
                {
                    boolean = 1;
                }
            });
            
            if(boolean == 1)
            {
                alert("Etape déjà existante!");
                chemin.html("");
                return;                  
            }
            else
            {
                /* Si ok on post*/
                var id = $(this).data('id');
                $.post('{{ path('administration_projet_champ_etape_edit')}}', values);        
            } 

        },

      cancel: function(values) {
            $(".edit i", this)
            .removeClass('glyphicon-save')
            .addClass('glyphicon-pencil')
            .attr('title', 'Edit');  
        }

    });

  
    </script>
    
{% endblock %}
